:root {
    --border-radius: 30px;
    --input-size: 50px;
    --color-header: #4059AD;
    --color-background: #6B9AC4;
    --color-score: #97D8C4;
    --color-four: #EFF2F1;
    --color-button: #ffc043;
    --color-button-border: #ff9100;
    --first: 40deg;
    --second: -40deg;
    --first-scale: 250%;
    --second-scale: 300%;
    --button-border-size: 3px;
}

body {
    background-color: var(--color-background);
}

.score_container {
    display: flex;
    justify-content: space-evenly;
}

.score {
    border: 3px solid var(--color-button-border);
    background-color: var(--color-button);
    border-radius: var(--border-radius);
    justify-content: center;
    text-align: center;
    width: 200px;
}

.game_buttons_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20%;
}

.game_buttons_container input{
    border: 3px solid var(--color-button-border);
    background-color: var(--color-button);
    border-radius: var(--border-radius);
    padding: 25px;
    width: var(--input-size);
    height: var(--input-size);
    flex-shrink: 1;
}

.center {
    text-align: center;
}

.end_of_game {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    visibility: hidden;
}

.end_of_game h1{
    align-items: center;
    justify-content: center;
    border: var(--button-border-size) solid var(--color-button-border);
    background-color: var(--color-button);
    border-radius: var(--border-radius);
    padding: 20px;
}

.yourAnimationClass {
    animation-name: shake;
    animation-duration:  1s;
    animation-iteration-count: 1;
}

@keyframes shake {
    0% {
        transform: scale(50%);
    }
    20% {
        transform: rotate(var(--first)) scale(var(--first-scale));
    }
    40% {
        transform: rotate(var(--second)) scale(var(--first-scale));
    }
    60% {
        transform: rotate(var(--first)) scale(var(--first-scale));
    }
    80% {
        transform: rotate(var(--second)) scale(var(--first-scale));
    }
    100% {
        transform: rotate(0deg);
    }
}

